{{#if navigation.length}}
<ul class="nav-list">
  {{#each navigation}}
  <li class="nav-item{{#if ./currentPath}} is-active is-current-path{{/if}}{{#if ./currentPage}} is-current-page{{/if}}" data-depth="{{#if ../level}}{{../level}}{{else}}0{{/if}}">
    {{#if (and ../level ./items.length)}}
    <button class="nav-toggle"></button>
    {{/if}}
    {{#if ./url}}
    <a class="nav-link" href="{{{./url}}}">{{{./title}}}</a>
    {{else}}
    <span class="nav-text">{{{./title}}}</span>
    {{/if}}
{{> navigation-tree navigation=./items level=(inc ../level)}}
  </li>
  {{/each}}
</ul>
{{/if}}
