<div class="toolbar" role="navigation">
  <button class="navigation-toggle"></button>
  {{#if siteRootUrl}}
  <a href="{{siteRootUrl}}" class="home-link{{#if home}} is-current{{/if}}"></a>
  {{/if}}
{{> breadcrumbs}}
{{> page-versions}}
  <div class="edit-this-page"><a href="{{editUrl}}">Edit this Page</a></div>
</div>
