html.is-clipped--nav {
  overflow-y: hidden;
}

.navigation-domain {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.navigation-domain:not(.is-active) {
  display: none;
}

.nav-menu {
  flex-grow: 1;
  min-height: 0;
  /* QUESTION move padding to .navigation-domain? */
  /*
  padding: 0.5rem;
  */
  padding: 0.4rem 0.5rem;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list .nav-list {
  margin-left: 1em;
}

.nav-item {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.nav-item .nav-item {
  padding-top: 0.25em;
}

.nav-item > .nav-list {
  display: none;
}

.nav-item[data-depth="0"] > .nav-list,
.nav-item.is-active > .nav-list {
  display: block;
}

.nav-toggle {
  background: transparent url(../img/caret.svg) no-repeat left center;
  background-size: 85%;
  border: none;
  cursor: pointer;
  font-size: inherit;
  height: 1.85em;
  outline: none;
  padding: 0;
  width: 1em;
}

@media (min-width: 769px) {
  .nav-toggle {
    height: 1.6em;
  }
}

.nav-toggle::-moz-focus-inner {
  border: none;
}

.nav-item.is-active > .nav-toggle {
  transform: rotate(90deg);
}

.nav-link,
.nav-text {
  color: inherit;
  display: inline-block;
  line-height: 1.85em;
  margin-left: 1em;
  text-decoration: none;
  padding-left: 0.25em;
}

@media (min-width: 769px) {
  .nav-link,
  .nav-text {
    line-height: 1.6em;
  }
}

.is-current-page > .nav-link,
.is-current-page > .nav-text {
  font-weight: 500;
}

.nav-item[data-depth="0"] > .nav-link,
.nav-item[data-depth="0"] > .nav-text,
.nav-item[data-depth="0"] > .nav-list {
  margin-left: 0;
}

.nav-toggle + .nav-link,
.nav-toggle + .nav-text {
  margin-left: 0;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-item[data-depth="0"] > .nav-link,
.nav-item[data-depth="0"] > .nav-text {
  padding-left: 0;
  display: none; /* FIXME temporary */
}
